extends layout

block content
  if alert
    .alert.alert-danger(role='alert')
      != alert
  if addFlash != ''
    .alert.alert-success(role='alert')
      != addFlash
  block body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand Sklepik Here
        ul.navbar-nav.mr-auto
          ui.nav-item
            a.nav-link(href='/') Home
          ui.nav-item
            a.nav-link(href='/cart') Koszyk
          ui.nav-item
            a.nav-link(href='/orders') Zamówienia
          ui.nav-item
            a.nav-link(href='/users') Użytkownicy
        ul.navbar-nav.form-inline
          if username
            li.nav-item
              a Witaj #{username}
            li.nav-item
              a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='#') Register

    form(method='POST' action='/orders/addOrder')
      div.form-group
        input#item.form-control(type='text' placeholder='nazwa przedmiotu' name='item')
      div.form-group
        input#price.form-control(type='text' placeholder='ilość sztuk' name='amount')
      button.btn.btn-primary(type='submit') Dodaj zamówienie