extends layout

block content
  h1= 'Zaloguj się'

  form(method='POST' action='/login')
    div.form-group
      input#username.form-control(type='text' placeholder='username' name='username')
    div.form-group
      input#password.form-control(type='password' placeholder='password' name='password')
    button.btn.btn-primary(type='submit') Zaloguj się
    |
    |
    form()
      button.btn.btn-primary(href='/register' action='none') Zarejestruj się

