extends layout

block content
  if alert
    .alert.alert-danger(role='alert')
      != alert
  block body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand Sklepik Here
        ul.navbar-nav.mr-auto
          ui.nav-item
            a.nav-link(href='/') Home
          ui.nav-item
            a.nav-link(href='/basket') Koszyk
        ul.navbar-nav.form-inline
          if username
            li.nav-item
              a Witaj #{username}
            li.nav-item
              a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link.active(href='#') Register

    form(method='POST' action='/register')
      div.form-group
        input#username.form-control(type='text' placeholder='username' name='username')
      div.form-group
        input#password.form-control(type='password' placeholder='password' name='password')
      div.form-group
        input#password2.form-control(type='password' placeholder='retype password' name='password2')
      div.form-group
        input#email.form-control(type='text' placeholder='email' name='email')
      button.btn.btn-primary(type='submit') Register
